body {
    font-family: 'Press Start 2P', 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #FFFFFF; /* Зміна кольору тексту на білий для кращої видимості */
    background: url('images/Isengard.jpg') no-repeat center center fixed; /* Додаємо картинку на фон */
    background-size: cover; /* Масштабування картинки для покриття всього екрану */
    text-align: center; /* Центрування тексту */
    text-shadow: 2px 2px 4px #000; /* Додавання тіні до тексту для кращої читабельності */
}

header {
    background: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #B0C4DE;
}

section {
    padding: 20px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    border: 4px solid #B0C4DE;
}

h1, h2, h3 {
    color: #FFD700; /* Золотий колір для заголовків */
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #B0C4DE;
    background: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
}

form {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    padding: 20px;
    border: 4px solid #B0C4DE;
}

label {
    margin-bottom: 5px;
    color: #FFD700; /* Золотий колір для тексту */
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #B0C4DE;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    color: #FFD700; /* Золотий колір для тексту */
    font-family: 'Courier New', monospace;
}

button {
    padding: 10px;
    background-color: #2E8B57;
    color: #FFFFFF;
    border: none;
    font-family: 'Press Start 2P', 'Courier New', monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #4682B4;
    transform: scale(1.05);
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Напівпрозорий чорний фон */
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border-top: 4px solid #B0C4DE;
}

a {
    color: #FFD700; /* Золотий колір для посилань */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}